.main{
  height: 400px;
  width:600px;
  margin-left: 25%;
  background-color: rgb(235, 218, 218);
  border: 2px solid black;
}
.form-container{
  margin-left: 25%;
}
.view-container{
     margin-top: 5%;
     margin-left: 5%;
}